name: Build and Deploy back to GKE

# Only trigger, when the build workflow succeeded
on:
  workflow_run:
    workflows: 
      - "DSG lint test workflow"
    types:
      - completed
    tags:
      - '*'
  # push:
  #   branches-ignore:
  #     - '*'  
  #   tags:
  #     - '*'


jobs:
  build-publish:
    name: Build, Publish
    runs-on: ubuntu-latest
    environment: production


    strategy:
      max-parallel: 4
      matrix:
        python-version: ["3.10"]
        include:
          - db: postgres
            db_port: 5432

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install pip dependencies
        if: steps.pip-cache.outputs.cache-hit != 'true'
        run: |
          pip install psycopg2 poetry proto-parser

      - name: Install poetry
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: |
          poetry install

      - name: build and publish
        run: |
          echo ${{github.ref_name}}
          echo $GITHUB_REF_NAME
          sed -i 's/version = "0.1.1"/version = "'$GITHUB_REF_NAME'"/g' pyproject.toml
          poetry build
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          # poetry publish